.text-section {
    padding-top: 150px;
    padding-bottom: 150px;
    .text-block {
        margin-bottom: 70px;
    }
    span.u-text {
        margin-bottom: 60px;
        display: block;
    }
}


.text-parallax {
    z-index: 99;
    padding-bottom: 150px;
    .text-block {
        margin-top: 80px;
    }
}