
<footer>
    <div class="container">
        <div class="row footer-top">
            <div class="left-col">
                <div class="text-block detect-animate" data-animation="from-bottom-elements-lazy">
                    <span>CURRENTLY</span>
                    <p>Living in New York, USA,  Freelancing at Pitch Available for fun projects</p>
                </div>
            </div>
            <div class="right-col">
                <span>SOCIAL</span>
                <ul class="nav-links detect-animate" data-animation="from-bottom-elements-lazy">
                    <li>
                        <a class="nav-link" href="/">
                            <span>Instagram</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="/">
                            <span>Unsplash</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="/">
                            <span>Linkedin</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <hr class="detect-animate" data-animation="scaleX" data-speed="0.5">
        <div class="row footer-bottom detect-animate" data-animation="from-bottom-elements-lazy" data-delay="0.5">
            <div class="col-md-6">
                <p>Jordan Alex</p>
            </div>
            <div class="col-md-6">
                <p>© Jordan Alex</p>
            </div>
        </div>
    </div>
</footer>
<script src="js/vendors.min.js"></script>
<script src="js/main.min.js"></script>
</body>

</html>